<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047547588773-l19oc0cpags64mnubbml44el2lfmf2pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047547588773-l19oc0cpags64mnubbml44el2lfmf2pb</string>
	<key>API_KEY</key>
	<string>AIzaSyBA0lfMzn227gR63ZdqxaFWjOoH3pMbXSk</string>
	<key>GCM_SENDER_ID</key>
	<string>1047547588773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>plamstef.MyNotebook</string>
	<key>PROJECT_ID</key>
	<string>mynotebook-4d5ee</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotebook-4d5ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047547588773:ios:1395eca37e4bae589e9d4c</string>
	<key>DATABASE_URL</key>
	<string>https://mynotebook-4d5ee.firebaseio.com</string>
</dict>
</plist>